<!DOCTYPE html>
<html>
  <head>
    <title>main</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://unpkg.com/alpinejs/dist/cdn.min.js" defer></script>
  </head>
<body>  
    <%- include('partials/navbar'); %>
    
</body>
</html>